<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{:: main}, _, _)}">
  <head>
    <title>Cadastro de usuário</title>
  </head>
  <body>
    <main>
      <div class="row">
        <div class="col">
          <div class="card card-primary">
            <div class="card-header">
              <div class="card-title">Cadastro de usuário</div>
            </div>
            <div class="card-body">
              <form method="post" th:object="${registerForm}">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="name">Nome:</label>
                      <input
                        type="text"
                        class="form-control"
                        th:field="*{name}"
                      />
                      <ul>
                        <li
                          class="text-danger"
                          th:each="error : ${#fields.errors('name')}"
                          th:text="${error}"
                        ></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="email">E-mail:</label>
                      <input
                        type="email"
                        class="form-control"
                        th:field="*{email}"
                      />
                      <ul>
                        <li
                          class="text-danger"
                          th:each="error : ${#fields.errors('email')}"
                          th:text="${error}"
                        ></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                      <label for="password">password:</label>
                      <input
                        type="password"
                        class="form-control"
                        th:field="*{password}"
                      />
                      <ul>
                        <li
                          class="text-danger"
                          th:each="error : ${#fields.errors('password')}"
                          th:text="${error}"
                        ></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <button class="btn btn-success" type="submit">Salvar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
