<!DOCTYPE html>
<html th:replace="~{base :: layout (~{::main})}">
  <body>
    <main>
      <h1>Cadastro de diaristas</h1>
      <form method="POST" th:object="${task-form}" class="mt-5">
        <div class="mb-3">
          <label class="form-label">Nome: </label>
          <input type="text" th:field="*{name}" class="form-control" /><br />
        </div>

        <div class="mb-3">
          <label class="form-label">Descrição: </label>
          <input
            type="text"
            th:field="*{description}"
            class="form-control"
          /><br />
        </div>

        <div class="mb-3">
          <label class="form-label">Data de conclusão: </label>
          <input
            type="datetime"
            th:field="*{conclusionDate}"
            class="form-control"
          /><br />
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </main>
  </body>
</html>
